In [3]:
# https://www.geeksforgeeks.org/sql-tutorial/?ref=header_search

# CREATE TABLE Customer(
#     CustomerID INT PRIMARY KEY,
#     CustomerName VARCHAR(50),
#     LastName VARCHAR(50),
#     Country VARCHAR(50),
#     Age INT ,
#   	Phone INT
# );

# DESCRIBE 

# postgres=# \d customer

"""SELECT COLUMN_NAME  
FROM information_schema.COLUMNS  
WHERE TABLE_NAME = 'customer';  """


# select * from customer;
# Import from CSV file
# COPY customer from 'C:\POSTGRES\organizations-100.csv' DELIMITER ',' CSV HEADER;

"SELECT COLUMN_NAME  \nFROM information_schema.COLUMNS  \nWHERE TABLE_NAME = 'customer';  "

In [4]:
# SQL is case insensitive
# # Attribute:Attributes are the properties that define a relation. e.g.; ROLL_NO, NAME etc.
# Tuple:Each row in the relation is known as tuple. The above relation contains 4 tuples, one of which is shown as:
# 1	RAM	DELHI	9455123451	18
# Degree:The number of attributes in the relation is known as degree of the relation. The STUDENT relation defined above has degree 5.
# Cardinality:The number of tuples in a relation is known as cardinality. The STUDENT relation defined above has cardinality 4.
# Column:Column represents the set of values for a particular attribute. The column ROLL_NO is extracted from relation STUDENT.

# SELECT [DISTINCT] Attribute_List FROM R1,R2â€¦.RM
# [WHERE condition]
# [GROUP BY (Attributes)[HAVING condition]]
# [ORDER BY(Attributes)[DESC]];

Data Definition Language:It is used to define the structure of the database. e.g; CREATE TABLE, ADD COLUMN, DROP COLUMN and so on.
Data Manipulation Language:It is used to manipulate data in the relations. e.g.; INSERT, DELETE, UPDATE and so on.
Data Query Language:It is used to extract the data from the relations. e.g.; SELECT So first we will consider the Data Query Language. A generic query to retrieve from a relational database is:

DDL (Data Definition Language)
DQL (Data Query Language)
DML(Data Manipulation Language)
DCL (Data Control Language)
TCL (Transaction Control Language)

-- CREATE TABLE Customer(
--     CustomerID INT PRIMARY KEY,
--     CustomerName VARCHAR(50),
--     LastName VARCHAR(50),
--     Country VARCHAR(50),
--     Age INT ,
--   	Phone INT
-- );

-- SELECT COLUMN_NAME  
-- FROM information_schema.COLUMNS  
-- WHERE TABLE_NAME = 'customer';  

-- select * from customer;

-- COPY customer from 'C:\POSTGRES\organizations-100.csv' DELIMITER ',' CSV HEADER;
-- SELECT unicode('hello') AS UNICODE_VALUE;

-- create table cutomer_tab as select * from customer where customername LIKE 'A%';
-- SELECT COLUMN_NAME  
-- FROM information_schema.COLUMNS  
-- WHERE TABLE_NAME = 'customer'; 
select * from cutomer_tab;
-- insert into cutomer_tab(customerid,age,phone,customername,lastname,country) values 	(3,2,996,'Sanjeev V ','Goudar','India');

/*
DDL (Data Definition Language)
DQL (Data Query Language)
DML(Data Manipulation Language)
DCL (Data Control Language)
TCL (Transaction ControlLanguage)*/

/*
DDL: Data Definition Language actually consists of the SQL commands that can be used to define the database schema.
    CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
	    create table cutomer_tab as select * from customer where customername LIKE 'A%';
		CREATE TABLE Customer(
     	CustomerID INT PRIMARY KEY,
     	CustomerName VARCHAR(50),
     	LastName VARCHAR(50),
     	Country VARCHAR(50),
     	Age INT ,
   	 	hone INT
	 );
    DROP: This command is used to delete objects from the database.
		The major difference between TRUNCATE and DROP is that truncate is used to delete the data inside the table not the whole table.	
		DROP DATABASE database_name;
		DROP TABLE table_name;
	ALTER: This is used to alter the structure of the database.
	   The ALTER TABLE statement in SQL is used to add, remove, or modify columns in an existing table. 
	   The ALTER TABLE statement is also used to add and remove various constraints on existing tables.
	   
	   ALTER TABLE table_name
	   ALTER TABLE table_name DROP COLUMN column_name;
	   ALTER TABLE table_name MODIFY column_name column_type;
	   ALTER TABLE table_name ALTER COLUMN column_name column_type;
	   ALTER TABLE Student ADD (AGE number(3),COURSE varchar(40));
	   ALTER TABLE table_name CHANGE COLUMN old_name TO new_name;
	   ALTER TABLE Student RENAME TO Student_Details;

    TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
		TRUNCATE TABLE  table_name;
    COMMENT: This is used to add comments to the data dictionary.
		SELECT customername
		/* This column contains the name of 
		the customer / country / 
		This column contains the date the
		order was placed */ 
		FROM customer;
		*/




-- SELECT customername FROM customer;

DQL (Data Query Language)
   DQL `statements are used for performing queries on the data within schema objects.
    SELECT customername, country FROM customer;

DML(Data Manipulation Language)
    The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.
    INSERT
    insert into cutomer_tab(customerid,age,phone,customername,lastname,country) values 	(4,4,994,'Sanju','Goudar','India');
    insert into cutomer_tab select * from customer;
    
    UPDATE
    update cutomer_tab set customerid=100 where customername LIKE 'Sanjeev%';
    UPDATE Customer SET CustomerName = 'Satyam', Country = 'USA' WHERE CustomerID = 1;
    UPDATE Customer SET CustomerName = 'Shubham';
    
    DELETE
    DELETE FROM GFG_Employees WHERE department = 'Development';
    DELETE FROM GFG_EMPLOyees; (delete entire records)
    
DCL (Data Control Language)
    GRANT: This command gives users access privileges to the database.
    GRANT privileges_names ON object TO user;
    
    Grant select privileges to all the users
    GRANT SELECT  ON Users TO '*'@'localhost';
    
    Grant All privileges to user
    GRANT ALL ON Users TO 'Amit'@'localhost';

    
    REVOKE: The Revoke statement is used to revoke some or all of the privileges which have been granted to a user in the past.
    REVOKE privileges ON object FROM user;
    REVOKE ALL ON Users FROM 'Amit'@'localhost'; 


TCL (Transaction Control Language)
    Transactions group a set of tasks into a single execution unit. Each transaction begins with a specific task and ends when all the tasks in the group are successfully completed
    COMMIT: Commits a Transaction.
    COMMIT;
    ROLLBACK: Rollbacks a transaction in case of any error occurs.
    ROLLBACK;
    ROLLBACK TO SP1;
    RELEASE SAVEPOINT SAVEPOINT_NAME
    SAVEPOINT: Sets a save point within a transaction.
    SAVEPOINT SAVEPOINT_NAME;