In [3]:
# https://www.geeksforgeeks.org/sql-tutorial/?ref=header_search

# CREATE TABLE Customer(
#     CustomerID INT PRIMARY KEY,
#     CustomerName VARCHAR(50),
#     LastName VARCHAR(50),
#     Country VARCHAR(50),
#     Age INT ,
#   	Phone INT
# );

# DESCRIBE 

# postgres=# \d customer

"""SELECT COLUMN_NAME  
FROM information_schema.COLUMNS  
WHERE TABLE_NAME = 'customer';  """


# select * from customer;
# Import from CSV file
# COPY customer from 'C:\POSTGRES\organizations-100.csv' DELIMITER ',' CSV HEADER;

"SELECT COLUMN_NAME  \nFROM information_schema.COLUMNS  \nWHERE TABLE_NAME = 'customer';  "

In [4]:
# SQL is case insensitive
# # Attribute:Attributes are the properties that define a relation. e.g.; ROLL_NO, NAME etc.
# Tuple:Each row in the relation is known as tuple. The above relation contains 4 tuples, one of which is shown as:
# 1	RAM	DELHI	9455123451	18
# Degree:The number of attributes in the relation is known as degree of the relation. The STUDENT relation defined above has degree 5.
# Cardinality:The number of tuples in a relation is known as cardinality. The STUDENT relation defined above has cardinality 4.
# Column:Column represents the set of values for a particular attribute. The column ROLL_NO is extracted from relation STUDENT.

# SELECT [DISTINCT] Attribute_List FROM R1,R2â€¦.RM
# [WHERE condition]
# [GROUP BY (Attributes)[HAVING condition]]
# [ORDER BY(Attributes)[DESC]];

Data Definition Language:It is used to define the structure of the database. e.g; CREATE TABLE, ADD COLUMN, DROP COLUMN and so on.
Data Manipulation Language:It is used to manipulate data in the relations. e.g.; INSERT, DELETE, UPDATE and so on.
Data Query Language:It is used to extract the data from the relations. e.g.; SELECT So first we will consider the Data Query Language. A generic query to retrieve from a relational database is:

In [ ]:
DDL (Data Definition Language)
DQL (Data Query Language)
DML(Data Manipulation Language)
DCL (Data Control Language)
TCL (Transaction Control Language)

DDL: Data Definition Language actually consists of the SQL commands that can be used to define the database schema.
    CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
    DROP: This command is used to delete objects from the database.
    ALTER: This is used to alter the structure of the database.
    TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
    COMMENT: This is used to add comments to the data dictionary.
    RENAME: This is used to rename an object existing in the database.